{% extends "layout.html" %}

{% block title %}Email Potwierdzony - DawnoTemu{% endblock %}

{% block content %}
    <h1>Twój email został pomyślnie zweryfikowany!</h1>
    <p>Dziękujemy za potwierdzenie adresu email. Możesz teraz w pełni korzystać z aplikacji DawnoTemu.</p>
    <p>Możesz teraz zamknąć to okno, lub wrócić do aplikacji.</p>
    {# TODO: Add a proper link to the app, maybe a deep link #}
    {# <a href="https://www.dawnotemu.app/" class="cta-button">Otwórz aplikację</a> #}
{% endblock %} 