openapi: 3.0.3
info:
  title: DawnoTemu API
  version: 1.0.0
  description: >
    REST API for DawnoTemu (StoryVoice): authentication, stories, voices, audio synthesis,
    credit (Story Points) billing, task status, and admin operations. User-facing copy
    calls the currency "Story Points", while routes and models use "credits" (1:1).
servers:
  - url: https://api.storyvoice.app
    description: Production
  - url: http://localhost:8000
    description: Local

security: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Access token from /auth/login or /auth/refresh. For admin endpoints the token
        must belong to an admin user (is_admin=true) or be an admin token.

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Unauthorized
        details:
          type: string
          nullable: true
    Message:
      type: object
      properties:
        message:
          type: string
          example: OK

    User:
      type: object
      properties:
        id: { type: integer, format: int64 }
        email: { type: string, format: email }
        email_confirmed: { type: boolean }
        is_active: { type: boolean }
        is_admin: { type: boolean }
        credits_balance: { type: integer, example: 10 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        last_login: { type: string, format: date-time, nullable: true }

    RegisterRequest:
      type: object
      required: [email, password, password_confirm]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }
        password_confirm: { type: string, format: password }
    RegisterResponse:
      type: object
      properties:
        message: { type: string, example: "Registration successful. Please confirm your email." }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }
    LoginResponse:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        user: { $ref: '#/components/schemas/User' }

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
    RefreshResponse:
      type: object
      properties:
        access_token: { type: string }

    UpdateProfileRequest:
      type: object
      additionalProperties: false
      properties:
        email: { type: string, format: email }
        current_password: { type: string }
        new_password: { type: string }
        new_password_confirm: { type: string }
      required: [current_password]
    UpdateProfileResponse:
      type: object
      properties:
        user: { $ref: '#/components/schemas/User' }
        message: { type: string, example: "Profile updated successfully." }
        email_confirmation_required: { type: boolean }
        email_confirmation_error: { type: string, nullable: true }
        password_updated: { type: boolean }

    DeleteAccountRequest:
      type: object
      properties:
        current_password: { type: string }
        reason: { type: string }
      required: [current_password]
    DeleteAccountResponse:
      type: object
      properties:
        message: { type: string, example: "Account deletion scheduled." }

    ResetPasswordRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
    ResetPasswordConfirmRequest:
      type: object
      required: [new_password, new_password_confirm]
      properties:
        new_password: { type: string, format: password }
        new_password_confirm: { type: string, format: password }

    Story:
      type: object
      properties:
        id: { type: integer, format: int64 }
        title: { type: string }
        author: { type: string }
        description: { type: string }
        content: { type: string }
        required_credits: { type: integer, example: 3 }
        cover_path: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Voice:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        status: { type: string, example: ready }
        allocation_status: { type: string, nullable: true }
        service_provider: { type: string, example: elevenlabs }
        elevenlabs_voice_id: { type: string, nullable: true }
        user_id: { type: integer }
        recording_s3_key: { type: string, nullable: true }
        recording_filesize: { type: integer, nullable: true }
        sample_filename: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        error_message: { type: string, nullable: true }

    AudioSynthesisResponse:
      type: object
      properties:
        id: { type: integer, description: AudioStory id }
        status:
          type: string
          enum: [processing, ready, allocating_voice, queued_for_slot, pending, error]
        message: { type: string }
        url: { type: string, format: uri, nullable: true }
        voice:
          type: object
          properties:
            queue_position: { type: integer, nullable: true }
            queue_length: { type: integer, nullable: true }
            elevenlabs_voice_id: { type: string, nullable: true }

    AudioStatus:
      type: object
      properties:
        id: { type: integer }
        status: { type: string }
        story_id: { type: integer }
        voice_id: { type: integer }
        duration_seconds: { type: number, nullable: true }
        file_size_bytes: { type: integer, nullable: true }
        url: { type: string, format: uri, nullable: true }
        error: { type: string, nullable: true }
        task_status:
          type: object
          nullable: true
          properties:
            state: { type: string }
            ready: { type: boolean }
            successful: { type: boolean, nullable: true }
            info: { type: string, nullable: true }

    VoiceStatus:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        status: { type: string }
        allocation_status: { type: string, nullable: true }
        service_provider: { type: string, nullable: true }
        elevenlabs_voice_id: { type: string, nullable: true }
        recording_s3_key: { type: string, nullable: true }
        recording_filesize: { type: integer, nullable: true }
        sample_url: { type: string, format: uri, nullable: true }
        error: { type: string, nullable: true }
        task_status:
          type: object
          nullable: true
          properties:
            state: { type: string }
            ready: { type: boolean }
            successful: { type: boolean, nullable: true }
            info: { type: string, nullable: true }

    CreditLot:
      type: object
      properties:
        id: { type: integer }
        source: { type: string, example: monthly }
        amount_granted: { type: integer }
        amount_remaining: { type: integer }
        expires_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        is_active: { type: boolean }

    CreditTransaction:
      type: object
      properties:
        id: { type: integer }
        type: { type: string, enum: [credit, debit, refund, expire] }
        amount: { type: integer }
        reason: { type: string, nullable: true }
        status: { type: string }
        audio_story_id: { type: integer, nullable: true }
        story_id: { type: integer, nullable: true }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time, nullable: true }

    CreditHistory:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CreditTransaction' }
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        next_offset: { type: integer, nullable: true }
        applied_types:
          type: array
          items: { type: string, enum: [credit, debit, refund, expire] }

    CreditSummary:
      type: object
      properties:
        balance: { type: integer }
        unit_label: { type: string }
        unit_size: { type: integer }
        lots:
          type: array
          items: { $ref: '#/components/schemas/CreditLot' }
        history: { $ref: '#/components/schemas/CreditHistory' }
        recent_transactions:
          type: array
          items: { $ref: '#/components/schemas/CreditTransaction' }

    GrantCreditsRequest:
      type: object
      required: [amount]
      properties:
        amount: { type: integer, minimum: 1 }
        reason: { type: string }
        source: { type: string, example: add_on }
        expires_at: { type: string, format: date-time, nullable: true }

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegisterResponse' }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: Email already exists, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '400': { description: Missing fields, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '401': { description: Invalid credentials, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshRequest' }
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RefreshResponse' }
        '401': { description: Invalid/expired refresh token, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user
      security: [ { bearerAuth: [] } ]
      responses:
        '200': { description: Current user, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [Auth]
      summary: Update profile (email/password)
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProfileRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpdateProfileResponse' }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: Current password invalid, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [Auth]
      summary: Delete account
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeleteAccountRequest' }
      responses:
        '202': { description: Deletion scheduled, content: { application/json: { schema: { $ref: '#/components/schemas/DeleteAccountResponse' } } } }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: Current password invalid, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/resend-confirmation:
    post:
      tags: [Auth]
      summary: Resend confirmation email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200': { description: Sent, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/reset-password-request:
    post:
      tags: [Auth]
      summary: Request password reset email
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResetPasswordRequest' }
      responses:
        '200': { description: Email sent, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/reset-password/{token}:
    post:
      tags: [Auth]
      summary: Reset password with token
      parameters:
        - in: path
          name: token
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResetPasswordConfirmRequest' }
      responses:
        '200': { description: Password reset, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /stories:
    get:
      tags: [Stories]
      summary: List stories
      responses:
        '200':
          description: Stories
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Story' }

  /stories/{story_id}:
    get:
      tags: [Stories]
      summary: Get story
      parameters:
        - in: path
          name: story_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Story, content: { application/json: { schema: { $ref: '#/components/schemas/Story' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /stories/{story_id}/cover:
    get:
      tags: [Stories]
      summary: Get story cover (redirect)
      parameters:
        - in: path
          name: story_id
          required: true
          schema: { type: integer }
      responses:
        '302': { description: Redirect to cover URL }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /stories/{story_id}/credits:
    get:
      tags: [Billing]
      summary: Estimate required credits for a story
      parameters:
        - in: path
          name: story_id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Required credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  required_credits: { type: integer }
        '404': { description: Story not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /voices:
    get:
      tags: [Voices]
      summary: List user voices
      security: [ { bearerAuth: [] } ]
      responses:
        '200':
          description: Voices
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Voice' }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    post:
      tags: [Voices]
      summary: Create a new voice from uploaded audio
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                name:
                  type: string
                  description: Optional voice name
      responses:
        '200': { description: Voice created, content: { application/json: { schema: { $ref: '#/components/schemas/Voice' } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /voices/{voice_id}:
    get:
      tags: [Voices]
      summary: Get a voice
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: voice_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Voice, content: { application/json: { schema: { $ref: '#/components/schemas/Voice' } } } }
        '403': { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [Voices]
      summary: Delete a voice
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: voice_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Deleted, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '403': { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /voices/{voice_id}/sample:
    get:
      tags: [Voices]
      summary: Get voice sample URL
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: voice_id
          required: true
          schema: { type: integer }
        - in: query
          name: redirect
          schema: { type: string }
          description: If present, performs a 302 redirect to the sample URL.
      responses:
        '200': { description: URL returned, content: { application/json: { schema: { $ref: '#/components/schemas/Voice' } } } }
        '302': { description: Redirect to sample URL }
        '403': { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /voices/{voice_id}/stories/{story_id}/audio:
    get:
      tags: [Audio]
      summary: Get synthesized audio (stream or redirect)
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: voice_id
          required: true
          schema: { type: string }
        - in: path
          name: story_id
          required: true
          schema: { type: integer }
        - in: query
          name: redirect
          schema: { type: string }
          description: If present, 302 redirect to a presigned URL.
        - in: query
          name: expires
          schema: { type: integer }
          description: Optional presigned URL TTL seconds when redirecting.
      responses:
        '200':
          description: Audio stream
          content:
            audio/mpeg: {}
        '302': { description: Redirect to audio URL }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    head:
      tags: [Audio]
      summary: Check if audio exists
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: voice_id
          required: true
          schema: { type: string }
        - in: path
          name: story_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Exists }
        '404': { description: Not found }
    post:
      tags: [Audio]
      summary: Request audio synthesis
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: voice_id
          required: true
          schema: { type: string }
        - in: path
          name: story_id
          required: true
          schema: { type: integer }
      responses:
        '202':
          description: Accepted/queued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AudioSynthesisResponse' }
        '402': { description: Insufficient credits, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /voices/{voice_id}/status:
    get:
      tags: [Tasks]
      summary: Get voice cloning status
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: voice_id
          required: true
          schema: { type: integer }
        - in: query
          name: task_id
          schema: { type: string }
      responses:
        '200': { description: Status, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceStatus' } } } }
        '403': { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /audio/{audio_id}/status:
    get:
      tags: [Tasks]
      summary: Get audio synthesis status
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: audio_id
          required: true
          schema: { type: integer }
        - in: query
          name: task_id
          schema: { type: string }
      responses:
        '200': { description: Status, content: { application/json: { schema: { $ref: '#/components/schemas/AudioStatus' } } } }
        '403': { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}:
    get:
      tags: [Tasks]
      summary: Get Celery task status
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: task_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Task status, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /me/credits:
    get:
      tags: [Billing]
      summary: Get credit summary
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: query
          name: history_limit
          schema: { type: integer, default: 20, maximum: 100 }
        - in: query
          name: history_offset
          schema: { type: integer, default: 0 }
        - in: query
          name: types
          schema: { type: string, description: "Comma-separated transaction types" }
      responses:
        '200': { description: Credit summary, content: { application/json: { schema: { $ref: '#/components/schemas/CreditSummary' } } } }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /me/credits/history:
    get:
      tags: [Billing]
      summary: Paginated credit history
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, default: 0 }
        - in: query
          name: types
          schema: { type: string, description: "Comma-separated transaction types" }
      responses:
        '200': { description: History, content: { application/json: { schema: { $ref: '#/components/schemas/CreditHistory' } } } }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/users:
    get:
      tags: [Admin]
      summary: List users
      security: [ { bearerAuth: [] } ]
      responses:
        '200':
          description: Users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items: { $ref: '#/components/schemas/User' }
        '401': { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: Admin required, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/users/pending:
    get:
      tags: [Admin]
      summary: List pending users
      security: [ { bearerAuth: [] } ]
      responses:
        '200':
          description: Pending users
          content:
            application/json:
              schema:
                type: object
                properties:
                  pending_users:
                    type: array
                    items: { $ref: '#/components/schemas/User' }

  /admin/users/{user_id}:
    get:
      tags: [Admin]
      summary: Get user by id
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: User, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/users/{user_id}/activate:
    post:
      tags: [Admin]
      summary: Activate user
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Activated, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/users/{user_id}/deactivate:
    post:
      tags: [Admin]
      summary: Deactivate user
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Deactivated, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/users/{user_id}/promote:
    post:
      tags: [Admin]
      summary: Promote user to admin
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Promoted, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/users/{user_id}/revoke-admin:
    post:
      tags: [Admin]
      summary: Revoke admin
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Revoked, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: Cannot revoke self, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/users/{user_id}/credits/grant:
    post:
      tags: [Admin]
      summary: Grant credits to a user
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GrantCreditsRequest' }
      responses:
        '200': { description: Granted, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/stories/upload:
    post:
      tags: [Admin]
      summary: Upload a story (API key required in production)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200': { description: Uploaded, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/stories/bulk-upload:
    post:
      tags: [Admin]
      summary: Bulk upload stories (API key required in production)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stories:
                  type: array
                  items: { type: object, additionalProperties: true }
      responses:
        '200': { description: Uploaded, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/stories/upload-with-image:
    post:
      tags: [Admin]
      summary: Upload story with image (API key required in production)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                story: { type: object, additionalProperties: true }
                image_url: { type: string, format: uri, nullable: true }
      responses:
        '200': { description: Uploaded, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        '400': { description: Bad request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /admin/stories/stats:
    get:
      tags: [Admin]
      summary: Story statistics
      security: [ { bearerAuth: [] } ]
      responses:
        '200': { description: Stats, content: { application/json: { schema: { type: object, additionalProperties: true } } } }

  /admin/voice-slots/status:
    get:
      tags: [Admin]
      summary: Voice slot snapshot
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: query
          name: limit_active
          schema: { type: integer, default: 100 }
        - in: query
          name: limit_queue
          schema: { type: integer, default: 50 }
        - in: query
          name: limit_events
          schema: { type: integer, default: 50 }
      responses:
        '200': { description: Snapshot, content: { application/json: { schema: { type: object, additionalProperties: true } } } }

  /admin/voice-slots/process-queue:
    post:
      tags: [Admin]
      summary: Trigger voice queue processing
      security: [ { bearerAuth: [] } ]
      responses:
        '200': { description: Triggered, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }

  /admin/auth/generate-token:
    post:
      tags: [Admin]
      summary: Generate admin token
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_in: { type: integer, default: 3600 }
      responses:
        '200': { description: Token issued, content: { application/json: { schema: { type: object, properties: { admin_token: { type: string }, expires_in: { type: integer }, token_type: { type: string } } } } } }
